body {
	background-image: url("/static/gearscogs2.png");
	font-family: 'Orbitron', sans-serif;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 60%;
}

body h2 {
	color: #ebc2f4;
	background-color: #7d717d;
	font-weight: bold;
	font-size: 80px;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	text-align: left;
}

body h2 small {
	color: #d3d3d3;
}

body h3 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}


img {
	padding-left: 400px;
}