body {

	/*background-color: #d5f5d8;*/
	font-family: 'Orbitron', sans-serif;
	background-image: url("/static/gearscogs.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom; 

}
/*body #icon {
	background-color: #b2a1b3;
	margin-top:10px;

}*/

body .btn-group {
	color: #000000;
	padding-left: 325px;
}


body .btn-xlarge {
/*	color: #7d717d;*/
	background-color: #ebc8f4;
    padding: 18px 28px;
    font-size: 28px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
body h1 {

	color: #ebc2f4;
	/*background-color: #b2a1b3;*/
	background-color: #7d717d;
	font-weight: bold;
	font-size: 120px;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
	text-align: left;
}

body #gif {
}
/*body h1 img {
	padding-left: 40px;
	padding-right: -20px;
}
*/
body small h2 {
	font-size: 40px;
	font-style: italic;
	color: #d3d3d3;
	padding-top: 0px;
	padding-left: 200px;
	margin-top: -30px;
	margin-bottom: 0px;
}

body h2 {

/*	color: #7b9cb2;*/
/*	text-align: left;*/

	padding-left: 75px;
	padding-bottom: 20px;
}

/*#makestationbot {
	padding-left: 0px;
}*/

body h3 {
	
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
} 

body h5 {
	text-align: right;
}

#gif {
	text-align: center;
	padding-top: 20px;
	padding-left: 300px;
}

#instructions {
text-align: left;
padding-top: 50px;
padding-left: 100px;
padding-right: 50px;
font-size: 30px;
line-height: 60px;

}

#test {
	text-align: right;
}



#keyword1 {
	color: #ebc8f4;
	font-size: 40px;
}

#keyword2 {
	color: #ebc8f4;
	padding-left: 40px;
	font-size: 40px;

}

#keyword3 {
	color: #ebc8f4;
	padding-left: 40px;
	font-size: 40px;
}

#slogan {
	text-align: center;
	font-size: 50px;
}

/*
.menu {
	font-size: 20px;
	width:250px;  
   	margin:5px;  
   	padding:0;  
   	background-color:#d3b3d5;  
}


.menu td {
	width:250px;  
   	margin:5px;  
   	padding:0;  
   	background-color:#d3b3d5;  
   	text-decoration:none;  
   	display:block;  
   	padding:10px 0 10px 10px;  
   	color:#FFF; 
}*/
/*
#menu   
{  
   list-style-type:none;  
   font-size: 20px;  
   padding-left:0px;
   padding-top: 0px    
}  
#menu td   
{  
   width:250px;  
   margin:5px;  
   padding:0;  
   background-color:#d3b3d5;  
   -webkit-border-top-right-radius: 10px 25px;  
   -moz-border-radius-topright:10px 25px;  
   border-top-right-radius: 10px 25px;  
   -webkit-border-bottom-right-radius: 10px 25px;  
   -moz-border-radius-bottomright:10px 25px;  
   border-bottom-right-radius: 10px 25px;  
}  
#menu td a   
{  
   text-decoration:none;  
   display:block;  
   padding:10px 0 10px 10px;  
   color:#FFF;  
}  */

/*.bot-summary-well {
	display: inline-block;
	margin: 1em;
}*/


