body {
	/*background-color: #d5f5d8;*/
	font-family: 'Orbitron', sans-serif;

}
body #icon {
/*	background-color: #b2a1b3;*/
	margin-top:20px;

}

body .btn-group {
	padding-left: 300px;
}


body .btn-xlarge {
	background-color: #ebc8f4;
    padding: 18px 28px;
    font-size: 28px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
body h1 {
	color: #ebc2f4;
	background-color: #b2a1b3;
	font-weight: bold;
	font-size: 120px;
	margin-left: 0px;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	text-align: left;
}

body small h2 {
	font-size: 40px;
	font-style: italic;
	color: #000000;
	padding-top: 0px;
	padding-left: 240px;
}

body h2 {

/*	color: #7b9cb2;*/
/*	text-align: left;*/

	padding-left: 75px;
	padding-bottom: 20px;
}

/*#makestationbot {
	padding-left: 0px;
}*/

body h3 {
	
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
} 

body h5 {
	text-align: right;
}
/*
.menu {
	font-size: 20px;
	width:250px;  
   	margin:5px;  
   	padding:0;  
   	background-color:#d3b3d5;  
}


.menu td {
	width:250px;  
   	margin:5px;  
   	padding:0;  
   	background-color:#d3b3d5;  
   	text-decoration:none;  
   	display:block;  
   	padding:10px 0 10px 10px;  
   	color:#FFF; 
}*/
/*
#menu   
{  
   list-style-type:none;  
   font-size: 20px;  
   padding-left:0px;
   padding-top: 0px    
}  
#menu td   
{  
   width:250px;  
   margin:5px;  
   padding:0;  
   background-color:#d3b3d5;  
   -webkit-border-top-right-radius: 10px 25px;  
   -moz-border-radius-topright:10px 25px;  
   border-top-right-radius: 10px 25px;  
   -webkit-border-bottom-right-radius: 10px 25px;  
   -moz-border-radius-bottomright:10px 25px;  
   border-bottom-right-radius: 10px 25px;  
}  
#menu td a   
{  
   text-decoration:none;  
   display:block;  
   padding:10px 0 10px 10px;  
   color:#FFF;  
}  */

.bot-summary-well {
	display: inline-block;
	margin: 1em;
}


