body {
	background-color: #d3d3d3;
	font-family: 'Orbitron', sans-serif;
/*	background: url("/static/controlpanel.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;*/
}

body h2 {
	color: #ebc2f4;
	background-color: #7d717d;
	font-weight: bold;
	font-size: 80px;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	text-align: left;
}

body h2 small {
	color: #d3d3d3;
}

body h3 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.carousel {
	width: 400px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}



img:hover {
	opacity:0.75;
}



img:active {
	opacity: 0.3;
}

.btn-default {
  background-color: #d3b3d5;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

@-webkit-keyframes glowing {
  0% { background-color: #d3b3d5; -webkit-box-shadow: 0 0 3px #d3b3d5; }
  50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #d3b3d5; -webkit-box-shadow: 0 0 3px #d3b3d5; }
}

@-moz-keyframes glowing {
  0% { background-color: #d3b3d5; -moz-box-shadow: 0 0 3px #d3b3d5; }
  50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #d3b3d5; -moz-box-shadow: 0 0 3px #d3b3d5; }
}

@-o-keyframes glowing {
  0% { background-color: #d3b3d5; box-shadow: 0 0 3px #d3b3d5; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #d3b3d5; box-shadow: 0 0 3px #d3b3d5; }
}

@keyframes glowing {
  0% { background-color: #d3b3d5; box-shadow: 0 0 3px #d3b3d5; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #d3b3d5; box-shadow: 0 0 3px #d3b3d5; }
}

.btn-default {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 0px;
    left: -5px;
    background: #d3d3d3;
}


/*
.btn btn-default btn-lg {
	margin-right: auto;
	margin-left: auto;
}*/
/*#face1 {
	border-style: solid;
	border-width: 5px;
	border-color: #f380df;
}
body li {
	border-style: solid;
	border-width: 5px;
	border-color: #007228;  
}*/

