<html lang="en">
<head>
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
	<link href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/botdeets.css" rel="stylesheet">
	<title>BitzBots About</title>

</head>

<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="text-center">
        <h2> BIT-z-BOTS <small>mission</small></h2>  
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="btn-group" role="button">
			<a href="/" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span> home</a>
			<a href="/makestation" class="btn btn-default btn-xlarge"><img src="/static/noun_1248.png" height="40"/>makestation</a>
			<a href="/gallery" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span> gallery</a>
			<a href="/about" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> about</a>
		</div>
	</div>
</div>

<body>
	<p>Bit-z-Bots, a web application for girls to customize and create their own miniature 3D-printed robot figurine, is a tribute to Anne’s childhood spent borrowing her brother’s Legos and science kits.</p>
	<p> Cute and unassuming, a Bit-z-Bot’s noble purpose in its 3D-fabricated life is to foster interest in science and technology while combating the lack of creative, intelligent, tech-related toys available for girls.</p>
	<p> Why give a girl a doll if she can make her own?</p>
	<div id="gif"><img src="/static/iqm2w.gif"/></div>
</body>

</html>