<!DOCTYPE html>
<html>
<head>

</head>

<body>
	<img src="/static/iqm2w.gif"/>
	<div>Bit-z-Bots, a web application for girls to customize and create their own miniature 3D-printed robot figurine, is a tribute to Anne’s childhood spent borrowing her brother’s Legos and science kits. Cute and unassuming, a Bit-z-Bot’s noble purpose in its 3D-fabricated life is to foster interest in science and technology while combating the lack of creative, intelligent, tech-related toys available for girls. Why give a girl a doll if she can make her own?.</div>
</body>

</html>