<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
	<link href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/main.css" rel="stylesheet">
	<script type="text/javascript" src="/static/background.js"></script>
	<title>BitzBots Homepage</title>


</head>

<!--This is the landing page-->
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-12">
				<div class="text-center">
					<h1> BIT-z-BOTS <img src="static/boticon.png" height="180" width="100"/><small><h2>customizable robot figurines</h2></small></div></h1>
				<div class="row">
					<div class="btn-group" role="button">
						<a href="/" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span> home</a>
						<a href="/makestation" class="btn btn-default btn-xlarge"><img src="static/noun_1248.png" height="40"/>makestation</a>
						<a href="/gallery" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span> gallery</a>
						<a href="/about" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> about</a>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

<!-- 	<div id="test"><img src="static/botimage.png"/></div> -->

	<div class="container-fluid" id="content">
		<div class="row">
			<div class="col-md-12">
			</div>
			<span id="keyword1"> Design </span><span id="keyword2"> Create </span><span id="keyword3"> 3D-Print </span>
		</div></div>
<!-- 		<span id="slogan"> Make your own BitzBot! </span> -->
<div id="bitzy"><img src="/static/bitzypink.png" width="300" /></div>
		</div>
		</div>

	</div>


</body>

</html>