<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
	<link href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/main.css" rel="stylesheet">
	<script type="text/javascript" src="/static/background.js"></script>
	<title>BitzBots Homepage</title>


</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-12">
			<div class="text-center">
				<h1> BIT-z-BOTS <img src="static/boticon.png" height="180" width="100"/><small><h2>customizable robot figurines</h2></small></div></h1>		<div class="row">
			<div class="btn-group" role="group">
  			<button type="button" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span> home</button>
  			<button type="button" class="btn btn-default btn-xlarge"> <img src="static/noun_1248.png" height="40"/>makestation</button>
  			<button type="button" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span> gallery</button>
  			<button type="button" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> about us</button>
  		</div>
<!-- 		</div></h1> -->
			</div>
<!-- 		<div class="row">
			<div class="btn-group" role="group">
  			<button type="button" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span> home</button>
  			<button type="button" class="btn btn-default btn-xlarge"> <img src="static/noun_1248.png" height="40"/>makestation</button>
  			<button type="button" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span> gallery</button>
  			<button type="button" class="btn btn-default btn-xlarge"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> about us</button>
		</div>
		</div> -->
		<div class="row-fluid">
				<div class="col-md-2">
					<!-- <ul id="menu">  
		      			<li><a href="/">home</a></li>  
		      			<li><a href="/makestation">makestation </a></li>  
		      			<li><a href="/gallery">gallery</a></li>  
		      			<li><a href="about">about</a></li>  
		    		</ul> -->
		    			<div id="gearscogs">
							<img src="/static/gearscogs.png"/>
						</div>
	    		</div>
	    		
	    		<div class="col-md-10">
	    		<div class="text-center">


<!-- 					<div id="makestationbot"> -->

<!-- 						<img src="static/boticon.png" height="300" width="200"/> -->
<!-- 						<img src="static/bitzbotblue.png" class="img-rounded" height="300" width="200"/> -->

						<!--<a href="/makestation"><img src="/static/noun_1248.png" height="400" width="300"/></a>-->
<!-- 					</div>
					<h3>Enter the makestation to create your own BitzBot!</h3>
					</div>
					<h5>Making robot gals since 2015</h5>
				</div>
				</div> -->
		</div>
	</div>
</body>

</html>