<!DOCTYPE html>
<html>
<head>
</head>

<!-- can I put an if statement here, in jinja? like to specifcy if whaterver = 12, render 12.jpg?-->

<body>
	<div><img src="/static/{{ png_filename }}"/></div>

<form action="/makestaton/formsubmit/gallery">
	<input type="submit" name="pngfile" value="{{ png_filename }}" id="1"><label>Upload your bot to the gallery!</label>
</form>

<!--<form action="/makestation/formsubmit/uploadtoimat">
    <input type="text" name="filename" value="static/stl/{{ stl_filename }}">-->
    <!-- input type hidden later-->
<!--	<input type="submit" value="Purchase your model on i.materialise!">
</form>-->

</body>

</html>