<!DOCTYPE html>
<html>

<head>
  	<!-- jQuery library (served from Google) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <!-- bxSlider Javascript file -->
  <script src="http://bxslider.com/lib/jquery.bxslider.js"></script>
  <!-- bxSlider CSS file -->
  <link href="http://bxslider.com/lib/jquery.bxslider.css" rel="stylesheet" />
  <link href="static/makestationcss.css" rel="stylesheet">
  <script type="text/javascript" src="/static/makestationjquery.js"></script>
</head>

<body>
<ul class="bxslider">

 <li><input type="radio" name="face" value="1" id="1"  style="display:none">
  <label for="1"><img src="static/face1.png" title="Face 1"></label></li>
 <li><img src="static/face2.png" title="Face 2"></li>
 <li><img src="static/face3.png" title="Face 3"></li>

</ul>

<!--<script>
function faceChoice(number) {

	console.log(number);
	return number;
};
</script>-->


<ul class="bxslider2">
 <li><img src="static/body1.png" title="Body 1"></li>
 <li><img src="static/body2.png" title="Body 2"></li>
 <li><img src="static/body3.png" title="Body 3"></li>

</ul>


<!-- <ul class="bxslider">
  <li><img src="/static/face.jpg" /></li>
  <li><img src="/static/face2.jpg" /></li>
</ul> -->

<!--defined div for height-->
<script type="text/javascript">
  $(document).ready(function(){
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true,
        auto: false,
        autoControls: false
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.bxslider2').bxSlider({
        mode: 'fade',
        captions: true,
        auto: false,
        autoControls: false
    });
  });
</script>


<!-- <div class="bxslider">
  <div class="slide"><img src="/static/face.jpg"></div>
  <div class="slide"><img src="/static/face2.jpg"></div>
</div> -->

</body>

</html>