<!DOCTYPE html>
<html>


<head>
</head>

<body>



  <!--TRYING TO MAKE BUTTON PASS ID AS ARGUMENT IN FUNCTION IN MAKE_GALBOT.PY<form action="/makestation/formsubmit">
  <button id="1" onClick="submit_form(this.id)"><img src="/static/face1.jpg"></button>
  <input type="submit" value="Choose Face">
  </form>
  <button id="2" onClick="face_choice(this.id)"><img src="/static/face2.jpg"></button>
  <button id="3" onClick="face_choice(this.id)"><img src="/static/face3.jpg"></button>-->

  <!--<button id="1" onClick="face_choice(this.id)"><img src="/static/face1.jpg"></button>
  <button id="2" onClick="face_choice(this.id)"><img src="/static/face2.jpg"></button>
  <buttom id="3" onClick="face_choice(this.id)"><img src="/static/face3.jpg"></button>

  <script type="text/javascript">
  function face_choice(chosen_face) {
    alert(chosen_face);
  }
  </script>-->



  <!--WORKING RADIO BUTTONS-->
  <form action="/makestation/formsubmit">
      
    <tr>
      <input type="radio" name="face" value="1" id="1">
      <label for="1"><img src="static/face1.png"></label>
      <input type="radio" name="face" value="2" id="2">
      <label for="2"><img src="static/face2.png"></label>
      <input type="radio" name="face" value="3" id="3">
      <label for="3"><img src="static/face3.png"></label>
    </tr>

    <tr>
      <input type="radio" name="body" value="1" id="1">
      <label for="1"><img src="static/body1.png"></label>
      <input type="radio" name="body" value="2" id="2">
      <label for="2"><img src="static/body2.png"></label>
      <input type="radio" name="body" value="3" id="3">
      <label for="3"><img src="static/body3.png"></label>
    </tr>


    <tr>
      <input type="radio" name="legs" value="1" id="1">
      <label for="1"><img src="static/legs1.png"></label>
      <input type="radio" name="legs" value="2" id="2">
      <label for="2"><img src="static/legs2.png"></label>
      <input type="radio" name="legs" value="3" id="3">
      <label for="3"><img src="static/legs3.png"></label>
    </tr>-->

   <!-- <tr>
      <input type="radio" name="legs" value="1" id="1" style="display:none">
      <label for="1"><img src="static/legs1.jpg"></label>
      <input type="radio" name="legs" value="2" id="2" style="display:none">
      <label for="2"><img src="static/legs2.jpg"></label>
      <input type="radio" name="legs" value="3" id="3" style="display:none">
      <label for="3"><img src="static/legs3.jpg"></label>
    </tr>-->

  <input type="submit" value="Make!">
  </form>

</body>

</html>